.navbar {
    min-height: 40px;
    /*padding-left: 40px;*/
    /*padding-right: 40px;*/
    position: absolute;
    padding-left: 8%;
    padding-right: 8%;
}
.nav > li > a {
    padding: 8px 15px;
}
.navbar-brand {
    padding: 8px 15px;
}

.container{
    margin-top: 60px;
}
